#footer {
    height: 150px;
}

#email-button, #linkedin-button, #github-button {
    height: 45px;
    width: 45px;
    margin-right: 7px;
    margin-left: 7px;
    margin-bottom: 10px;
}

#linkedin-button:hover, #github-button:hover {
    cursor: pointer;
}

#contact-hr {
    border: 1px solid #D63384;
    width: 300px;
}